@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-orbitron: 'Orbitron', sans-serif;
}

@layer components {
    .nav-link {
        @apply hover:text-purple-300 transition border-b-2 border-transparent hover:border-purple-300 pb-1;
    }

    .separator {
        @apply text-neutral-600;
    }

    .icon-btn {
        @apply p-2 bg-purple-600 hover:bg-purple-500 rounded-md transition flex items-center justify-center;
    }

    .mobile-link {
        @apply block text-white font-semibold tracking-wide py-1 hover:text-purple-400 transition;
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .footer-link {
        @apply text-gray-300 hover:text-purple-400 transition;
    }

    .social-icon {
        @apply w-9 h-9 flex items-center justify-center rounded-md
               bg-neutral-900 text-gray-300
               hover:text-white hover:bg-purple-600
               transition;
    }
}

@layer utilities {
    .font-orbitron {
        font-family: var(--font-orbitron);
    }
}

